
div.imageGallery {
    display: block;
    margin: 3px;
    border: 5px solid forestgreen;
    float: left;
    width: 325px;

}

div.imageGallery:hover {
    border: 6px solid indianred;
}

div.imageGallery img {

    padding: 10px 10px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    text-align: center;
}

div.desc {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#nav{
  width:180px;
  float: left;
  background-color: purple;

}
#nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer{
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;

}
